:root {
  --first-title-color: #757575;
  --second-title-color: #212121;
  --third-title-color: #ffffff;
  --add-title-color: rgba(255, 255, 255, 0.6);
  --first-btn-color: #212121;
  --second-btn-color: #ffffff;
  --background-btn-color: #f5f4fa;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --first-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --black-color: #000000;
  --background-work-color: rgba(47, 48, 58, 0.8);
  --link-color:#afb1b8;
  --time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  display: list-item;
}

body {
  background-color: var(--first-background-color);
  font-family: "Roboto", sans-serif;
  color: var(--first-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*logo*/
.logo {
  text-decoration: none;
  color: var(--black-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  /*font-weight: 700;
  font-size: 26px;
  line-height: 1.19;*/
  margin-right: 93px;
  display: block;
}

.logo__blue {
  color: var(--accent-color);
}

.logo__footer {
  color: var(--third-title-color);
  margin-bottom: 20px;
  margin-right: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid red;*/
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  /*font-weight: 700;
  font-size: 36px;
  line-height: 1.17;*/
  text-align: center;
  /*letter-spacing: 0.03em;*/
  color: var(--first-btn-color);
}

.hero__btn {
  margin: 0 auto;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  /*font-weight: 700;
  font-size: 16px;
  line-height: 1.88;*/
  min-width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  /*letter-spacing: 0.06em;*/
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  color: var(--second-btn-color);
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--second-accent-color);
}

.portfolio-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  /*font-weight: 500;
  font-size: 16px;
  line-height: 1.62;*/
  text-align: center;
  /*letter-spacing: 0.03em;*/
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  color: var(--first-btn-color);
  background-color: var(--background-btn-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--second-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.92, 0.21, 0.96, 0.26), visibility 250ms cubic-bezier(0.92, 0.21, 0.96, 0.26);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.15);
}

.modal {
  background-color: var(--second-btn-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(133, 132, 132, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  min-width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  cursor: pointer;
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  /*font-weight: 700;
  font-size: 20px;
  line-height: 1.15;*/
  text-align: center;
  /*letter-spacing: 0.03em;*/
  color: var(--first-btn-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  color: #555555;
  font-size: 14px;
  font-weight: 600;
  /*font-weight: 600;
  font-size: 14px;*/
  outline: transparent;
  transition: border-color var(--time) var(--time-function);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--time) var(--time-function);
}

.modal-label {
  position: relative;
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  /*font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;*/
  color: var(--first-title-color);
}

.modal-link {
  color: var(--accent-color);
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(27, 131, 19, 0.361);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(131, 62, 19, 0.361);
}

.modal-field div:last-child {
  margin-bottom: 10px;
}

.modal-field-chek {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-input::placeholder,
.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  /*font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;*/
  color: rgba(117, 117, 117, 0.5);
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px;
  outline: transparent;
  transition: border-color var(--time) var(--time-function);
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /*font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;*/
  color: var(--first-title-color);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.check-icon {
  /* fill: transparent; */
  opacity: 0;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.modal-check:checked + .check-text .check-icon {
  fill: var(--second-btn-color);
  opacity: 1;
}

/*site nav*/
.header-link {
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-link,
.footer-link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  /*font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;*/
}

.header-link {
  display: flex;
  align-items: center;
  /*display: flex;
  align-items: center;*/
}

.mail,
.tel {
  color: var(--first-title-color);
  transition-property: color, fill;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus,
.address:hover,
.address:focus {
  color: var(--accent-color);
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:first-child) {
  margin-left: 50px;
}

/*contacts-nav*/
.contacts {
  display: flex;
  align-items: center;
  /*display: flex;
  align-items: center;*/
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  background-color: var(--accent-color);
  bottom: -32px;
}

/*header*/
.header-main {
  display: flex;
  align-items: center;
  /*display: flex;
  align-items: center;*/
}

.header-main {
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts__nav {
  margin-left: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

/*hero*/
.hero {
  background-color: var(--second-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bgr.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  /*font-weight: 900;
  font-size: 44px;
  line-height: 1.36;*/
  text-align: center;
  /*letter-spacing: 0.06em;*/
  text-transform: uppercase;
  color: var(--third-title-color);
  display: block;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

/*Fetures*/
.features-title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;*/
  text-transform: uppercase;
  color: var(--second-title-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /*font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;*/
}

.features {
  display: flex;
  column-gap: 30px;
}

.features-item {
  flex-basis: calc((100% - 90px) / 4);
}

.features-title {
  margin-bottom: 10px;
}

.features-bgr {
  display: flex;
  align-items: center;
  justify-content: center;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/*Work*/
.work-list {
  display: flex;
  column-gap: 30px;
}

.about-us {
  padding-top: 0px;
}

.work-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.work-item {
  position: relative;
}

.work-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.14;*/
  text-align: center;
  /*letter-spacing: 0.03em;*/
  text-transform: uppercase;
  color: var(--first-background-color);
  background-color: var(--background-work-color);
}

/*Team*/
.our-team__list {
  display: flex;
  gap: 30px;
}

.team-item__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  background: var(--first-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__title {
  margin-bottom: 50px;
}

.our-team__section {
  background-color: var(--third-background-color);
}

.team-item__after-title {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  /*font-weight: 500;
  font-size: 16px;
  line-height: 1.19;*/
  text-align: center;
  /*letter-spacing: 0.03em;*/
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.team-item__tex {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /*font-size: 16px;
  line-height: 1.19;*/
  text-align: center;
  /*letter-spacing: 0.03em;*/
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
  /*display: flex;
  justify-content: center;*/
  gap: 10px;
}

.team-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--second-btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  fill: var(--link-color);
  transition-property: fill, background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--accent-color);
  fill: var(--second-btn-color);
}

/*Clients*/
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  fill: var(--link-color);
  transition-property: fill, background-color, border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  background-color: inherit;
}

.title-clients {
  margin-bottom: 50px;
}

.clients-icon {
  fill: inherit;
  background-color: inherit;
}

/*Footer*/
.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /*font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;*/
  color: var(--third-title-color);
}

.footer-link {
  color: var(--add-title-color);
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;*/
  text-transform: uppercase;
  color: var(--first-background-color);
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  justify-content: center;
  /*display: flex;
  justify-content: center;*/
  gap: 10px;
}

.footer-social-block {
  margin-left: 70px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--second-btn-color);
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  /*display: flex;
  align-items: baseline;*/
}

.footer-container-nav {
  flex-grow: 1;
}

.subscrible {
  margin-left: 94px;
}

.subscrible-box {
  display: flex;
}

.subscrible-title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;*/
  text-transform: uppercase;
  color: var(--second-btn-color);
  margin-bottom: 20px;
}

.footer-input {
  position: relative;
  background-color: transparent;
  min-width: 350px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  /*font-weight: 400;
  font-size: 16px;
  line-height: 1.25;*/
  align-items: center;
  /*letter-spacing: 0.03em;*/
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.btn-footer-send {
  margin-left: 12px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--first-page-bg);
  fill: #ffffff;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  /*font-weight: 700;
  font-size: 16px;
  line-height: 1.88;*/
  align-items: center;
  text-align: center;
  /*letter-spacing: 0.06em;*/
  color: var(--second-btn-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.btn-footer-send:hover,
.btn-footer-send:focus {
  background-color: var(--second-accent-color);
}

.footer-modal-icon {
  vertical-align: middle;
}

.footer-input:focus {
  border: 1px solid;
}

/*Portfolio*/
.filter {
  display: flex;
  justify-content: center;
  /*display: flex;
  justify-content: center;*/
  margin-bottom: 50px;
}

.filter-item:not(:first-child) {
  margin-left: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects-link:hover .projects-top-text {
  transform: translateY(0%);
}

.projects-link:focus .projects-top-text {
  transform: translateY(0%);
}

.projects-top-wrap {
  position: relative;
  overflow: hidden;
}

.projects-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: var(--second-btn-color);
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  /*font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;*/
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--time) var(--time-function);
}

.projects-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  /*font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;*/
  color: var(--second-title-color);
  margin-bottom: 4px;
}

.projects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  /*font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;*/
  color: var(--first-title-color);
}

.projects-link {
  width: 370px;
  height: 404px;
  background-color: var(--second-btn-color);
  border: 1px solid #eeeeee;
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--time-function);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  background: inherit;
}/*# sourceMappingURL=main.css.map */