/*logo*/
.logo {
    text-decoration: none;
    font-family: var(--font-family-accent);
    @include font(26, 1.19, 700, null);
    color: var(--black-color);
    /*font-weight: 700;
    font-size: 26px;
    line-height: 1.19;*/
    margin-right: 93px;
    display: block;
}


.logo__name {
    color: var(--accent-color);
}

.footer__logo--color {
    color: var(--third-title-color);
    margin-bottom: 20px;
    margin-right: 0px;

}
/*.header__logo--color {
    color: var(--black-color);
    

}*/